@media (max-width:768px){
  header{
    height: 800px;
  }
  .pages ul{
    padding-left: 0;
    padding-top: 30px;
  }
  .links{
    padding-left: 3px;
  }
  .social ul{
    margin-bottom: -2px;
  }
  .hero-text{
    padding-left: 15px;
  }
  .hero-text h1{
    font-size: 2.5rem;
  }
  .text-fitness{
    padding:20px;
  }
  .section-explore h1{
    font-size: 3rem;
  }
}
@media (min-width:768px){
  .links ul{
    padding-left: 4px;
  }
  .links {
    justify-content: flex-end;
  }
  .text-fitness{
    padding: 30px;
  }
  .text-explore h1{
    text-align: center;
  }
}
