@media (max-width:768px){
  header{
    height: 800px;
  }
  .pages ul{
    padding-left: 0;
    padding-top: 30px;
  }
  .links{
    padding-left: 3px;
  }
  .social ul{
    margin-bottom: -2px;
  }
  .hero-text{
    padding-left: 15px;
  }
  .hero-text h1{
    font-size: 2.5rem;
  }
  .text-fitness{
    padding:20px;
  }
  .section-explore h1{
    font-size: 3rem;
  }
  .section-though{
    text-align: center;
  }
}

@media (min-width:768px){
  .links ul{
    padding-left: 4px;
  }
  .links {
    justify-content: flex-end;
  }
  .text-fitness{
    padding: 30px;
  }
  .text-explore h1{
    text-align: center;
  }
  .text-section-though{
    margin-top: 114px;
  }
  .images-vips table{
    margin-left: -10px;
  }
  .images-vips table tr{
    display: inline-block;
    margin-right: 10px;
  }
}

@media (max-width:1000px){
  .section-though{
    text-align: center;
    height: 1100px;
  }
  .text-section-though h4{
    max-width: 60px;
  }
  .text-section-though{
    padding-top: 30px;
  }
  .images-vips{
    margin-top: 0;
  }
  .images-vips table{
    margin: 0 auto;
    text-align:left;
  }
  .images-vips table th{
    padding-top: 30px;
  }
  .images-vips table td{
    padding-top: 25px;
  }
}
