@media (max-width:768px){
  .pages ul{
    padding-left: 0;
  }
  .links{
    padding-left: 3px;
  }
}
@media (min-width:768px){
  .links ul{
    padding-left: 4px;
  }
  .links {
    justify-content: flex-end;
  }
}
