html{
  font-size: 20px;
  font-family: sans-serif;
}
/*****colors******/
.text-white{
  color: white;
}
.text-bold{
  font-weight: bold;
}
/******header**********/
header{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9)),url(http://makeit.netflix.com/assets/hero-1-43891298d3af0f7434620c7d809251ebeda494f88bee1699f4b2f5ce09a08239.jpg);
  height: 650px;
  background-size: cover;
}
/*******menu****/
.menu{
  padding: 50px 0;
  }
  .menu a:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
  }
  .links{
    display: flex;
    align-items: center;
  }
  .social{
    margin-left: 15px;
  }
  .pages li, .social li{
    display: inline-block;
  }
  .pages li:last-child{
    padding-left: 10px;
  }
  .social ul{
    padding-left: 20px;
  }
  .social li{
    font-size: 1.5rem;
  }
  .social li:last-child{
    padding-left: 10px;
  }
/******hero-text****/
.hero-text{
 padding: 0 88px;
}
.hero-text h1{
  font-size: 4.5rem;
}
.hero-arrow{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
/******section-video**/
.section-video{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6)),
  url(http://makeit.netflix.com/assets/video-still-f0fdfad1af8162152060d6fd13c606335861523beaee4549731f1daab2de2fed.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}
.play:after{
  content: '';
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 25px solid #ffffff;
  border-bottom: 14px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -50%);
}
/******section-fitness**/
.img-fitness{
  background-image:url(http://makeit.netflix.com/assets/hero-2-155316d8a6859efc3816d85a06de26fb5aaec52a05a9a114649b30c08ac05541.jpg);
  background-size: cover;
  background-position: center;
  height: 650px;
}
.text-fitness h3{
  font-size: 2rem;
}
.text-fitness p{
  font-size: 1rem;
}
/*****section-explore***/
.section-explore{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url(http://makeit.netflix.com/assets/three-types-9789b4a91aebe4d153dce477a8c2526a44d498056406a283360518a8c5fc25d3.jpg);
  background-position: center;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-explore h1{
  font-size: 4.5rem;
}
