html{
  font-size: 20px;
  font-family: sans-serif;
}
/*****colors******/
.text-white{
  color: white;
}
.text-bold{
  font-weight: bold;
}
/******header**********/
header{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9)),url(http://makeit.netflix.com/assets/hero-1-43891298d3af0f7434620c7d809251ebeda494f88bee1699f4b2f5ce09a08239.jpg);
  height: 650px;
  background-size: cover;
}
/*******menu****/
.menu{
  padding: 50px 0;
  }
  .menu a:hover{
    color: gray;
    transition: all 0.3s ease-in-out;
  }
  .links{
    display: flex;
    align-items: center;
  }
  .social{
    margin-left: 15px;
  }
  .pages li, .social li{
    display: inline-block;
  }
  .pages li:last-child{
    padding-left: 10px;
  }
  .social ul{
    padding-left: 20px;
  }
  .social li{
    font-size: 1.5rem;
  }
  .social li:last-child{
    padding-left: 10px;
  }
/******hero-text****/
.hero-text{
 padding: 0 88px;
}
.hero-text h1{
  font-size: 4.5rem;
}
.hero-arrow{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
/******section-video**/
.section-video{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6)),
  url(http://makeit.netflix.com/assets/video-still-f0fdfad1af8162152060d6fd13c606335861523beaee4549731f1daab2de2fed.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}
.play:after{
  content: '';
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 25px solid #ffffff;
  border-bottom: 14px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -50%);
}
/******section-fitness**/
.img-fitness{
  background-image:url(http://makeit.netflix.com/assets/hero-2-155316d8a6859efc3816d85a06de26fb5aaec52a05a9a114649b30c08ac05541.jpg);
  background-size: cover;
  background-position: center;
  height: 649px;
}
.text-fitness h3{
  font-size: 2rem;
}
.text-fitness p{
  font-size: 1rem;
}
/*****section-explore***/
.section-explore{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url(http://makeit.netflix.com/assets/three-types-9789b4a91aebe4d153dce477a8c2526a44d498056406a283360518a8c5fc25d3.jpg);
  background-position: center;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-explore h1{
  font-size: 4.5rem;
}
/****section-though*/
.section-though{
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),
  url(http://makeit.netflix.com/assets/trainers/terry-bg-b0f4f5e8cc3260b594e0e14e7509494559723ff2e59fd09f3dc8198be8a58c7b.jpg);
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-though h1{
  font-size: 4rem;
}
.section-though-device{
  background-image: url(http://makeit.netflix.com/assets/trainers/trainer-device-sprite-f77b7d3e398f051e5da6ca375cd71780c079775e391514c40a16a367503ac5b6.png);
  background-size: cover;
  background-position:40% 0;
  height: 318px;
  width: 200px;
  border-radius: 16%;
}
.text-section-though h4{
  border-left: 2px solid red;
  padding-left: 5px;
}
.section-though-round-images{
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.section-though-round-images:hover{
  -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
   opacity: 0.7;
}
.images-vips{
  margin-top: 30px;
}
.ultimate{
  background-image: url(http://makeit.netflix.com/assets/trainers/trainer-thumb-sprite-743f428ece2acf3ab6bbc13912468394509d62ab051ea29f7c8dec2083bb5505.jpg);
  background-position: 35.7% 0
}
.narcos{
  background-image: url(http://makeit.netflix.com/assets/trainers/trainer-thumb-sprite-743f428ece2acf3ab6bbc13912468394509d62ab051ea29f7c8dec2083bb5505.jpg);
  background-position: 42.84% 0;
}
.jessica{
  background-image: url(http://makeit.netflix.com/assets/trainers/trainer-thumb-sprite-743f428ece2acf3ab6bbc13912468394509d62ab051ea29f7c8dec2083bb5505.jpg);
  background-position: 49.98% 0;
}
.orange{
  background-image: url(http://makeit.netflix.com/assets/trainers/trainer-thumb-sprite-743f428ece2acf3ab6bbc13912468394509d62ab051ea29f7c8dec2083bb5505.jpg);
  background-position: 64.26% 0;
}
.house{
  background-image: url(http://makeit.netflix.com/assets/trainers/trainer-thumb-sprite-743f428ece2acf3ab6bbc13912468394509d62ab051ea29f7c8dec2083bb5505.jpg);
  background-position: 57.12% 0;
}
.images-vips table th{
  padding-right: 5px;
}
.images-vips table td p{
  border-left: 2px solid red;
  padding-left: 5px;
}
/*****trainer****/
.trainer{
  height: 550px;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4)),url(http://makeit.netflix.com/assets/work-it-13b26d2c7574639de2e68e12b2ea4de3de86794c9328adea21b5c5030ac04471.jpg);
  background-position: left;
  background-size: cover;
  display: flex;
  align-items: center;
}
.text-trainer{
  padding-left: 40px;
}
.text-trainer h1{
  font-size: 3rem;
}
